@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-primary: #38bdf8
}

html,
body {
  @apply bg-white text-black dark:bg-gray-800 dark:text-white  ;
  font-size: clamp(12px, calc(1vw + 1vh), 18px);
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.page{
  @apply min-h-screen min-w-90 flex flex-col items-center justify-center;
}

.font-heading{
  @apply font-['Alkatra',sans-serif] font-bold text-3xl;
}

.font-main{
  @apply font-['Bricolage_Grotesque',sans-serif] font-normal text-base;
}